<!-- Modal -->
<div class="modal fade" id="addQuizForm" tabindex="-1" role="dialog" aria-labelledby="addQuizFormLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="addQuizFormData" class="modal-content" method="POST" action="{{ url_for('admin_bp.add_quiz') }}">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuizFormLabel">Add new quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="form-message" class="alert alert-primary" style="display: none;" role="alert">

                </div>
                {{ add_quiz_form.csrf_token }}
                <div class="form-group">
                    <label class="form-label">{{ add_quiz_form.name.label }}</label>
                    {{ add_quiz_form.name(class_="form-control", placeholder="Enter quiz name (eg: Quiz for Class A)") }}
                </div>
                <div class="form-group">
                    <label class="form-label">{{ add_quiz_form.topic.label }}</label>
                    {{ add_quiz_form.topic(class_="form-control", placeholder="Type article name (ie. Honda, starfish, baseball)") }}
                </div>
                <div class="form-group">
                    <label class="form-label">{{ add_quiz_form.deadline.label }}</label>
                    {{ add_quiz_form.deadline(class_="form-control") }}
                </div>

                <div class="form-group">
                    <label class="form-label">{{ add_quiz_form.max_attempt.label }}</label>
                    {{ add_quiz_form.max_attempt(class_="form-control",type='number', min=0, max=100, placeholder="Enter max attempt allowed (default: 3)") }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ add_quiz_form.submit(class='btn btn-primary', id="addQuizForm-submit") }}
            </div>
        </form>
    </div>
</div>

{% block javascripts2 %}
<script>
    require(['jquery'], function () {
        $('#addQuizFormData').submit(function (event) {
            event.preventDefault();
            var form = $('#addQuizFormData');
            var formMessages = '#form-message'
            var url = $(form).attr('action');
            var type = $(form).attr('method');
            var formData = $(form).serialize();
            console.log(url, type)


            $(formMessages).css("display", "block");
            $(formMessages).removeClass('alert-danger');
            $(formMessages).removeClass('alert-success');

                    // Set the message text.
            $(formMessages).text("Please wait...");  

            $.ajax({
                type: type,
                url: url,
                data: formData
            })
                .done(function (resp) {
                    $(formMessages).css("display", "block");
                    $(formMessages).removeClass('alert-danger');
                    $(formMessages).addClass('alert-success');

                    // Set the message text.
                    $(formMessages).text(resp);
                })
                .fail(function (resp) {
                    $(formMessages).css("display", "block");
                    $(formMessages).removeClass('alert-success');
                    $(formMessages).addClass('alert-danger');

                    // Set the message text.
                    if (resp.responseText !== '') {
                        $(formMessages).text("Error:" + resp.responseText);
                    } else {
                        $(formMessages).text('Oops! An error occured and your message could not be sent.');
                    }
                });
        });
    });
</script>

{% endblock javascripts2 %}